# Output Files
scenario/sumo/output/

# Large Files
scenario/sumo/berlin.net.xml
scenario/sumo/berlin_bus.rou.xml

# Scenario cutout Files from BeST
scenario/sumo/cutouts/

# Untracked generated scenario files
scenario/sumo/electric/e_stations.add.xml
scenario/sumo/electric/e_routes.rou.xml

# Pycache Directorys
scenario/eBuS/postprocessing/__pycache__/
scenario/eBuS/preprocessing/__pycache__/