# Output Files
scenario/sumo/output/

# Large Files and Archives
scenario/sumo/berlin.net.xml
scenario/sumo/berlin_bus.rou.xml
scenario/sumo/berlin.rou.gz
scenario/eBuS/database/ebus.db

# Unchanging BeST Files
scenario/sumo/berlin.sumocfg

# Scenario cutout Files from BeST
scenario/sumo/cutouts/

# Untracked generated data files
scenario/eBuS/files/postprocessing_input/termination_points.txt
scenario/eBuS/files/postprocessing_input/deadhead_times.txt
scenario/eBuS/files/postprocessing_input/merged_routes.rou.xml
scenario/eBuS/files/cicero_mueller_routes_trimmed.rou.xml
scenario/eBuS/files/cicero_mueller_routes.rou.xml

# Untracked generated scenario files
scenario/sumo/electric/e_stations.add.xml
scenario/sumo/electric/e_routes.rou.xml
scenario/sumo/electric/e_vehicles.rou.xml

# Pycache Directorys
**/__pycache__/
**/.pyc

# Draw.io temporary files
**.bkp
scenario/eBuS/files/postprocessing_input/deadhead_times.txt
